core/.idea/*
core/.env
composer.lock
core/vendor/*
core/.env


# Cache and logs (Symfony2)
ws/app/cache/*
ws/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
ws/var/cache/*
ws/var/logs/*
ws/cache/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
ws/config/parameters.yml

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
fabrado/bin/*
bin/
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# PHPStorm
.idea
.idea/

/vendor
config/parameters.yml
/config/parameters.yml
/web/bundles
composer.lock


/logs


/docs

.idea


